{% extends 'base.html' %}

{% block content %}
    {% if not created %}
        <div style="margin-top: 30px">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Title">
                <br><br>
                <textarea name="content" placeholder="Content"></textarea>
                <br><br>
                <button type="submit">Create article</button>
            </form>
        </div>
    {% else %}
        <p>Your article created</p>
        <a href="/articles/{{ object.id }}/">{{ object.title }}</a>
    {% endif %}
{% endblock %}
